ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 0.8rem;
}

a.file {
  text-decoration: none;
}

div.root-folder {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;;
}