@page
@using YarpOidc.Model;
@model YarpOidc.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
<h1>Access denied</h1>

@if(Model.AppUser is null)
{
    <p>Not logged in</p>
}
else
{
    <p>id: @Model.AppUser.Id</p>
    <p>userName: @Model.AppUser.UserName</p>
}
